upstream django {
    server $DJANGO_SERVICE_NAME:$DJANGO_PORT;
}

server 
{
    listen 1337;
    server_name _;

    location /static/ 
    {
        alias /home/app/web/staticfiles;
    }

    location / 
    {
        proxy_pass http://django;
        proxy_set_header Host ###host;
        proxy_set_header X-Real-IP ###remote_addr;
        proxy_set_header X-Forwarded-For ###proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto ###scheme;
    }
}
