name: Deployment
run-name: ${{ github.actor }} is deploying the app

on:
    workflow_run:
        workflows: ["Build"]
        types: ["completed"]

jobs:
    deploy:
        environment: stage
        env:
            KEY_FILE: ./github_actions_key
            SSH_PORT: 22
            UPDATE_SCRIPT: /home/${{ secrets.DEPLOYMENT_USER }}/update.sh
        name: Deploy the app
        runs-on: self-hosted
        steps:
            - name: Get Code
              uses: actions/checkout@v5
            - name: Make env
              run: |
                mkdir -p .env
                cat << EOF > .env/.stage
                DJANGO_SETTINGS_MODULE=${{ secrets.DJANGO_SETTINGS_MODULE }}
                SECRET_KEY=${{ secrets.SECRET_KEY }}
                DEBUG=${{ secrets.DEBUG }}
                DB_NAME=${{ secrets.DB_NAME }}
                DB_USER=${{ secrets.DB_USER }}
                DB_PASS=${{ secrets.DB_PASS }}
                DB_HOST=${{ secrets.DB_HOST }}
                DB_PORT=${{ secrets.DB_PORT }}
                EOF
                cat << EOF > .env/.db
                POSTGRES_DB=${{ secrets.POSTGRES_DB }}
                POSTGRES_USER=${{ secrets.POSTGRES_USER }}
                POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
                EOF
            - name: Create the secret key file to use
              run: |
                echo "${{ secrets.SSH_DEPLOYMENT_KEY }}" >> ${{ env.KEY_FILE }}
                chmod 600 ${{ env.KEY_FILE }}
            - name: Copy the update script on the server
              run: |
                scp -P ${{ env.SSH_PORT }} -i ${{ env.KEY_FILE }} update.sh docker-compose.stage.yml .env/.stage .env/.db nginx/env/stage.env \
                ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_HOST }}:${UPDATE_SCRIPT%/*}
                ssh -p ${{ env.SSH_PORT }} -i ${{ env.KEY_FILE }} ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_HOST }} "UPDATE_SCRIPT='$UPDATE_SCRIPT' bash -s" << 'EOF'
                mkdir -p ${UPDATE_SCRIPT%/*}/.env && \
                mkdir -p ${UPDATE_SCRIPT%/*}/nginx/env && \
                mv .stage .env/.stage && \
                mv .db .env/.db && \
                mv stage.env nginx/env/stage.env
                EOF
            - name: SSH Deploy
              run: |
                ssh -i ${{ env.KEY_FILE }} -p ${{ env.SSH_PORT }} ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_HOST }} "UPDATE_SCRIPT='$UPDATE_SCRIPT' bash -s" << 'EOF'
                chmod +x $UPDATE_SCRIPT && \
                (crontab -l 2>/dev/null | grep -qxF "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") || \
                (crontab -l 2>/dev/null; echo "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") | crontab -
                $UPDATE_SCRIPT
                cd ~
                docker-compose -f docker-compose.stage.yml exec -T web python manage.py migrate
                docker-compose -f docker-compose.stage.yml exec -T web python manage.py collectstatic
                EOF
            - name: delete env and keys
              run: |
                rm ${{ env.KEY_FILE }} && \
                rm -rf .env && \
                rm -rf nginx/env && \
                rm -rf k8s
