name: Deployment
run-name: ${{ github.actor }} is deploying the app

on:
    workflow_run:
        workflows: ["Docker-Build"]
        types: ["completed"]

jobs:
    deploy:
        environment: stage
        env:
            UPDATE_SCRIPT: /home/${{ secrets.DEPLOYMENT_USER }}/update.sh
            KEY_FILE: ./github_actions_key
        name: Deploy the app
        runs-on: self-hosted
        steps:
            - name: Get Code
              uses: actions/checkout@v5
            - name: Create the secret key file to use
              run: |
                echo "${{ secrets.SSH_DEPLOYMENT_KEY }}" >> ${{ env.KEY_FILE }}
                chmod 600 ${{ env.KEY_FILE }}
            - name: Copy the update script on the server
              run: |
                ssh -p 2222 -i ${{ env.KEY_FILE }} ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_HOST }} 'mkdir -p ${UPDATE_SCRIPT%/*}/.env'
                scp -P 2222 -i ${{ env.KEY_FILE }} update.sh docker-compose.stage.yml .env/.stage .env/.db \
                ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_LOCAL_HOST }}:${UPDATE_SCRIPT%/*}
            - name: SSH Deploy
              run: |
                ssh -i ${{ env.KEY_FILE }} -p 2222 ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_LOCAL_HOST }} "UPDATE_SCRIPT='$UPDATE_SCRIPT' bash -s" << 'EOF'
                chmod +x $UPDATE_SCRIPT && \
                (crontab -l 2>/dev/null | grep -qxF "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") || \
                (crontab -l 2>/dev/null; echo "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") | crontab -
                EOF