name: Docker-Build
run-name: ${{ github.actor }} is building the Docker image
on:
    push:
        branches:
            - main

jobs:
    build:
        name: Building the image
        runs-on: self-hosted
        steps:
            - name: Get code
              uses: actions/checkout@v5
            - name: Login docker
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build the image
              run: make stage_up
            - name: Push the images
              run: |
                    images=("ghcr.io/matei8787/Reddit_DevOps-web:latest" "ghcr.io/matei8787/Reddit_DevOps-nginx:latest")
                    for image in "${images[@]}"; do
                        docker push $image
                    done