name: Deployment
run-name: ${{ github.actor }} is deploying the app

on:
    workflow_run:
        workflows: ["Docker-Build"]
        types: ["completed"]

jobs:
    deploy:
        environment: stage
        env:
            UPDATE_SCRIPT: /home/${{ secrets.DEPLOYMENT_USER }}/update.sh
            KEY_FILE: ./github_actions_key
        name: Deploy the app
        runs-on: self-hosted
        steps:
            - name: Get Code
              uses: actions/checkout@v5
            - name: Create the secret key file to use
              run: |
                echo "${{ secrets.SSH_DEPLOYMENT_KEY }}" >> ${{ env.KEY_FILE }}
                chmod 600 ${{ env.KEY_FILE }}
            - name: Copy the update script on the server
              run: |
                scp -P 2222 -i ${{ env.KEY_FILE }} ./update.sh ${{ secrets.DEPLOYMENT_USER }}@${{ secrets.DEPLOYMENT_LOCAL_HOST }}:$UPDATE_SCRIPT
            - name: SSH Deploy
              uses:  appleboy/ssh-action@v0.1.9
              with:
                host: ${{ secrets.DEPLOYMENT_LOCAL_HOST }}
                username: ${{ secrets.DEPLOYMENT_USER }}
                key: ${{ env.KEY_FILE }}
                port: 2222
                envs: |
                    UPDATE_SCRIPT=${{ env.UPDATE_SCRIPT }}
                script: |
                    chmod +x $UPDATE_SCRIPT && \
                    (crontab -l 2>/dev/null | grep -qxF "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") || \
                    (crontab -l 2>/dev/null; echo "0 * * * * $UPDATE_SCRIPT >> ${UPDATE_SCRIPT%/*}/update.log 2>&1") | crontab -