name: Docker-Build
run-name: ${{ github.actor }} is building the Docker image
on:
    push:
        branches:
            - main

jobs:
    build:
        permissions:
          contents: read
          packages: write
        environment: stage
        name: Building the image
        runs-on: self-hosted
        steps:
            - name: Get code
              uses: actions/checkout@v5
            - name: Make env
              run: |
                mkdir -p .env
                cat << EOF > .env/.stage
                DJANGO_SETTINGS_MODULE=${{ secrets.DJANGO_SETTINGS_MODULE }}
                SECRET_KEY=${{ secrets.SECRET_KEY }}
                DEBUG=${{ secrets.DEBUG }}
                DB_NAME=${{ secrets.DB_NAME }}
                DB_USER=${{ secrets.DB_USER }}
                DB_PASS=${{ secrets.DB_PASS }}
                DB_HOST=${{ secrets.DB_HOST }}
                DB_PORT=${{ secrets.DB_PORT }}
                EOF
                cat << EOF > .env/.db
                POSTGRES_DB=${{ secrets.POSTGRES_DB }}
                POSTGRES_USER=${{ secrets.POSTGRES_USER }}
                POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
                EOF
            - name: Build the images
              run: docker-compose -f docker-compose.stage.yml build
            - name: Login docker
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Push the images
              run: |
                    images=("ghcr.io/matei8787/reddit_devops-web:latest" "ghcr.io/matei8787/reddit_devops-nginx:latest")
                    for image in "${images[@]}"; do
                        docker-compose -f docker-compose.stage.yml push
                    done
            - name: Delete environment variables
              run: rm -rf .env